.ms_jumboBg {
    background-image: url("/img/jumbotron.jpg");
    background-position: top;
    min-height: 400px;
    background-size: 100%;
}

.ms_jumboBox {
    height: 400px;
    position: relative;
    align-items: flex-end;
}

.current_series {
    position: absolute;
    transform: translateY(50%);
    background-color: #0282F9;
    box-shadow: 5px 5px 5px black;

    p {
        color: white;
        padding: 20px;
    }

}