.container {
    background-color: #0282F9;
}

.container-lg {
    padding: 60px 30px;
}

.merch-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    li {
        display: flex;
        gap: 15px;
        align-items: center;

        p {
            color: white;
        }
    }
}

img {
    display: block;
    height: 40px;
}