.container-lg {
  min-height: 130px;
  justify-content: space-between;
}

.header-logo {
  align-self: center;
}

.nav-container {
  display: flex;
  gap: 25px;
}

.nav {
  display: contents;
}

.nav-links a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.nav-links.active a::after {
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0282F9;
}

.container {
  background-image: url("/img/jumbotron.jpg");
  background-position: top;
  min-height: 400px;
  background-size: 100%;
}

.container-lg {
  height: 400px;
  position: relative;
  align-items: flex-end;
}

.current_series {
  position: absolute;
  transform: translateY(50%);
  background-color: #0282F9;
  box-shadow: 5px 5px 5px black;
}

.current_series p {
  color: white;
  padding: 20px;
}

.container {
  background-color: #1C1C1C;
}

.container-lg {
  flex-wrap: wrap;
}

.comics-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.load-more-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 50px;
}

.load-more-button button {
  padding: 15px 70px;
  color: white;
  font-weight: bold;
  background-color: #0183FB;
  border: 2px solid #0183FB;
}

.comic-card {
  width: 16.6666666667%;
  margin-bottom: 20px;
}

.comic-card .comic-image {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.comic-card .comic-image img {
  display: block;
}

.comic-title h3 {
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
}

.container {
  background-color: #0282F9;
}

.container-lg {
  padding: 60px 30px;
}

.merch-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.merch-container li {
  display: flex;
  gap: 15px;
  align-items: center;
}

.merch-container li p {
  color: white;
}

img {
  display: block;
  height: 40px;
}

.container.footer {
  background-image: url("/img/footer-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.col {
  width: 11.1111111111%;
  padding-bottom: 5px;
}

.list-container {
  display: flex;
  flex-grow: 1;
  gap: 15px;
  padding: 60px 0;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}

.list-container li {
  padding-bottom: 10px;
}

.list-container h2 {
  color: white;
  padding-bottom: 10px;
}

.list-container a {
  color: #647177;
}

.container.social-bar {
  background-color: #303030;
}

.social-bar .container-lg {
  justify-content: space-between;
}

.sign {
  align-self: center;
}

.sign button {
  padding: 15px;
  color: white;
  background-color: #303030;
  border: 2px solid #0183FB;
}

.social-links {
  display: flex;
  padding: 30px 0;
  align-items: center;
}

.social-links p {
  color: #0183FB;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.social-list {
  display: flex;
  gap: 15px;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.container-lg {
  width: 1320px;
  display: flex;
  margin: 0 auto;
}

.row {
  display: flex;
}

ul li,
a {
  list-style: none;
}

