.container-lg {
  min-height: 130px;
  justify-content: space-between;
}

.header-logo {
  align-self: center;
}

.nav-container {
  display: flex;
  gap: 25px;
}

.nav {
  display: contents;
}

.nav-links a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.nav-links.active a::after {
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0282F9;
}

.container {
  background-image: url("/img/jumbotron.jpg");
  background-position: top;
  min-height: 400px;
  background-size: 100%;
}

.container-lg {
  height: 400px;
  position: relative;
  align-items: flex-end;
}

.current_series {
  position: absolute;
  transform: translateY(50%);
  background-color: #0282F9;
  box-shadow: 5px 5px 5px black;
}

.current_series p {
  color: white;
  padding: 20px;
}

.container {
  background-color: #1C1C1C;
}

.container-lg {
  flex-wrap: wrap;
}

.comics-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.load-more-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 50px;
}

.load-more-button button {
  padding: 15px 70px;
  color: white;
  font-weight: bold;
  background-color: #0183FB;
  border: 2px solid #0183FB;
}

.comic-card {
  width: 16.6666666667%;
  margin-bottom: 20px;
}

.comic-card .comic-image {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.comic-card .comic-image img {
  display: block;
}

.comic-title h3 {
  margin-top: 15px;
  text-transform: uppercase;
  color: white;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.container-lg {
  width: 1320px;
  display: flex;
  margin: 0 auto;
}

.row {
  display: flex;
}

ul li,
a {
  list-style: none;
}

